@charset "UTF-8";

header#topo{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 60px;
    top: 0px;
    left: 0px;
    background-color: #fff;
    padding: 0px 30px 0px 3vw;

}

img#logo{
    position: absolute;
    float: left;
    margin-top: 5px;
}

div.icon{
    height: 60px;
    box-sizing: border-box;
    position: relative;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.icon span{
    position: relative;
    margin-right: 10px;
}

img#icon{
    float: right;
    position: relative;
    height: 30px;
}

header#topo p{
    font-family: Cambria;
    font-size: 15pt;
    color: white;
    margin-top: 10px;
    margin-left: 15px;
    text-transform: uppercase;
}


header#cabecalho{
    position: relative;
    width: 100vw;
    height: 70px;
    left: 0px;
    top: 0px;
    background: rgb(12, 58, 105);
}

div#interface{
    position: absolute;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

div#conteudo{
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 5px;
}

div.caixa{

    width: 1050px;
    margin-top: 50px;

}

body{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.13);
    margin: 0px;
    box-sizing: border-box;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    margin: 35px 0px 0px 25px;
    color: black;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}


nav#menu{
    margin-left: -650px;

}

nav#menu ul{
    list-style: none;
    position: absolute;

    margin-top: 0px;

}
nav#menu li{
    position: relative;
    display: inline-block;
    height: 50px;
    margin-right: 4px;
    text-transform: uppercase;
    left: 650px;
    color: white;
    background-color: rgb(12, 58, 105);
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

nav#menu a{
    color: white;
    text-decoration: none;
}

nav#menu li:hover{
    text-decoration: underline;
    background-color: rgb(102, 179, 77);   
}

div.saldoMes{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: 0px;
    border-left: 5px solid rgb(12, 58, 105);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

div.saldoMes h2{
    font-family: Arial, sans-serif;
    font-size: 10pt;
    padding-top: 0px;
    padding-left: 8px;
}

div.saldoMes p{
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: rgb(102, 179, 77);
    padding-left: 8px;
    margin-top: 0px;
    margin-left: 0;
}

div.saldoTotal{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: 20.5vw;
    border-left: 5px solid rgb(12, 58, 105);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

div.saldoTotal h2{
    font-family: Arial, sans-serif;
    font-size: 10pt;
    padding-top: 0px;
    padding-left: 8px;
}

div.saldoTotal p{
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: rgb(102, 179, 77);
    padding-left: 8px;
    margin-top: 0px;
    margin-left: 0px;
}

div.contasPagar{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: 41vw;
    border-left: 5px solid rgb(255, 0, 0);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

div.contasPagar h2{
    font-family: Arial, sans-serif;
    font-size: 10pt;
    padding-top: 0px;
    padding-left: 8px;
}

div.contasPagar p{
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: rgb(255, 0, 0);
    padding-left: 8px;
    margin-top: 0px;
    margin-left: 0px;
}

div.despesasMes{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: 60.5vw;
    margin-right: 20px;
    border-left: 5px solid rgb(255, 32, 32);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

div.despesasMes h2{
    font-family: Arial, sans-serif;
    font-size: 10pt;
    padding-top: 0px;
    padding-left: 8px;
}

div.despesasMes p{
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: rgb(255, 32, 32);
    padding-left: 8px;
    margin-top: 0px;
    margin-left: 0px;
}

table#entradas{
    position: absolute;
    border-spacing: 0px;
    margin-top: 200px;
    margin-left: 0px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);    
}

table#entradas td{
    
    border: 1px solid rgba(0,0,0,.20);
    width: 200px;
    padding: 10px;
    background-color: rgba(0,0,0,.08);
}

table#entradas td.esquerda{
    text-align: left;
}

table#entradas td.direita{
    text-align: right;
    color: rgb(12, 58, 105);
}

table#saidas{
    position: relative;
    float: right;
    border-spacing: 0px;
    margin-top: 200px;
    margin-right: 0px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

table#saidas td{
    
    border: 1px solid rgba(0,0,0,.20);
    width: 200px;
    padding: 10px;
    background-color: rgba(0,0,0,.08);
}

table#saidas td.esquerda{
    text-align: left;
}

table#saidas td.direita{
    text-align: right;
    color: rgb(12, 58, 105);
}

/*Formatação tela de Recebimentos*/
div#hisRecebimento{
    box-sizing: border-box;
    position: relative;
    width: 1000px;
    height: 250px;
    background-color: #ffffff;
    margin-top: 150px;
    margin-left: 110px;
    margin-bottom: 20px;
    padding: 10px;
}

span#hisRecebimento{
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    width: 1000px;
    margin-top: -48px;
    margin-left: -10px;
    padding: 10px 0px 10px 20px;
    background-color: rgb(12, 58, 105);
    color: #ffffff;
}

ul#relatorio {
    position: absolute;
    margin-top: 50px;
    margin-left: 71px;

}

ul#relatorio li{
    display: inline-block;
    margin-right: 20px;
    background-color: rgb(102, 179, 77);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #ffffff;
}

ul#relatorio li#data{
    background: none;
}

ul#relatorio input{
    border-color: #000000;
    background: rgb(102, 179, 77);
    height: 35px;
    color: #000000;
}

ul#relatorio a{
    text-decoration: none;
    color: #ffffff;
}

ul#relatorio li#download{
    background-color: #FEA50D;
}

div#hisRecebimento table{
    position: absolute;
    padding-top: 50px;
    margin-top: 80px;
    
}

div#hisRecebimento table td{
    width: 120px;
    height: 30px;
    padding: 5px;
    margin-top: 200px;
    text-align: center;
    border: 1px solid rgb(0,0,0); 
    font-weight: bold;  
}

/*formatação tela de Pagamentos*/

div#hisPagamento{
    box-sizing: border-box;
    position: relative;
    width: 1000px;
    height: 250px;
    background-color: #ffffff;
    margin-top: 150px;
    margin-left: 110px;
    padding-left: 10px;
    
}



span#hisPagamento{
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    width: 1000px;
    margin-top: -38px;
    margin-left: -10px;
    padding: 10px 0px 10px 20px;
    background-color: rgb(12, 58, 105);
    color: #ffffff;
}

div#hisPagamento table{
    position: absolute;
    padding-top: 50px;
    margin-top: 80px;
}

div#hisPagamento table td{
    width: 120px;
    height: 30px;
    padding: 5px;
    margin-top: 200px;
    text-align: center;
    border: 1px solid rgb(0,0,0); 
    font-weight: bold;  
}

/*Formatação tela de transações*/

div#quadroRecebimento{
    position: relative;
    margin: 100px 0px 10px 80px;
    padding: 20px;
    width: 500px;
    height: 430px;
    background-color: #ffffff;
    box-sizing: border-box;
    

}

div#quadroRecebimento span#quadroRecebimento{

    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    padding: 10px 0px 10px 20px;
    background-color: rgb(12, 58, 105);
    margin-top: -58px;
    margin-left: -20px;
    color: #ffffff;
}

div#quadroRecebimento span{
    font-family: arial, sans-serif;
    font-size: 12pt;
    color: rgb(0,0,0);
}

div#quadroRecebimento input{
    height: 30px;
    padding-left: 5px;
    border: 1px solid rgb(0,0,0);
    
}

div#quadroRecebimento span#nome{
    position: absolute;
    margin-top: 10px;
    
}

div#quadroRecebimento input.nome_recebimento{
    position: absolute;
    margin-top: 18px;
}

div#quadroRecebimento span#preco{
    position: absolute;
    margin-top: -10px;
    margin-left: 250px;
}

div#quadroRecebimento input.preco_recebimento{
    position: absolute;
    margin-top: 0px;
    margin-left: 250px;
}

div#quadroRecebimento span#data{
    position: absolute;
    margin-top: 80px;
    margin-left: 250px;
}

div#quadroRecebimento input.data_recebimento{
    position: absolute;
    margin-top: 88px;
    margin-left: 250px;
}

div#quadroRecebimento span#categoria{
    position: absolute;
    margin-top: 60px;
}

div#quadroRecebimento select.categoria_recebimento{
    position: absolute;
    margin-top: 68px;
    width: 150px;
    height: 30px;
    color: rgb(0,0,0);
    border: 1px solid rgb(0,0,0);
}

div#quadroRecebimento span#observacoes{
    position: absolute;
    margin-top: 140px;
}

div#quadroRecebimento textarea.observacoes_recebimento{
    position: absolute;
    margin-top: 148px;
    padding: 10px;
}

div#quadroRecebimento button{
    position: absolute;
    margin-top: 258px;
    margin-left: 270px;
    height: 30px;
    width: 80px;
    background-color: rgb(12, 58, 105);
    border: 1px solid rgb(12, 58, 105);
    color: #ffffff;
}





div#quadroPagamento{
    position: absolute;
    float: right;
    box-sizing: border-box;
    margin: -440px 0px 10px 650px;
    
    padding: 20px;
    width: 500px;
    height: 430px;
    background-color: #ffffff;

}

div#quadroPagamento span#quadroPagamento{

    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    padding: 10px 0px 10px 20px;
    background-color: rgb(232, 15, 15);
    margin-top: -58px;
    margin-left: -20px;
    color: #ffffff;
}

div#quadroPagamento span{
    font-family: arial, sans-serif;
    font-size: 12pt;
    color: rgb(0,0,0);
}

div#quadroPagamento input{
    height: 30px;
    padding-left: 5px;
    border: 1px solid rgb(0,0,0);
}

div#quadroPagamento span#nome{
    position: absolute;
    margin-top: 10px;
    
}

div#quadroPagamento input.nome_pagamento{
    position: absolute;
    margin-top: 18px;
}

div#quadroPagamento span#preco{
    position: absolute;
    margin-top: -10px;
    margin-left: 250px;
}

div#quadroPagamento input.preco_pagamento{
    position: absolute;
    margin-top: 0px;
    margin-left: 250px;
}

div#quadroPagamento span#data{
    position: absolute;
    margin-top: 80px;
    margin-left: 250px;
}

div#quadroPagamento input.data_pagamento{
    position: absolute;
    margin-top: 88px;
    margin-left: 250px;
}

div#quadroPagamento span#categoria{
    position: absolute;
    margin-top: 60px;
}

div#quadroPagamento select.categoria_pagamento{
    position: absolute;
    margin-top: 68px;
    width: 150px;
    height: 30px;
    color: rgb(0,0,0);
    border: 1px solid rgb(0,0,0);
}

div#quadroPagamento span#observacoes{
    position: absolute;
    margin-top: 140px;
}

div#quadroPagamento textarea.observacoes_pagamento{
    position: absolute;
    margin-top: 148px;
    padding: 10px;
}

div#quadroPagamento button{
    position: absolute;
    margin-top: 258px;
    margin-left: 270px;
    height: 30px;
    width: 80px;
    background-color: rgb(232, 15, 15);
    border: 1px solid rgb(232, 15, 15);
    color: #ffffff;
}



div.contas{
    position: relative;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 40px;
    margin-top: 100px;
    margin-left: 50px;
    width: 750px;
    height: 250px;
    background-color: #ffffff;
    box-sizing: border-box;
}

div.contas div{
    padding: 10px;

}

ul#inf{
    position: absolute;
    margin-top: -43px;
    margin-left: -40px;
}

ul#inf li{
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    margin-right: -4px;
       
    font-size: 15pt;
    background-color: #FEA50D;
    padding: 10px;
    color: #ffffff;

}


div.novaConta{
    position: relative;
    margin: -250px 30px 10px 0px;
    width: 400px;
    height: 250px;
    padding-left: 10px;
    padding-top: 20px;
    float: right;
    background-color: #ffffff;
    box-sizing: border-box;
}

div#legenda{
    position: absolute;
    margin-top: -63px;
    margin-left: -10px;
    box-sizing: border-box;
    font-size: 15pt;
    background-color:  #FEA50D;
    color: #ffffff;
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
}

div.novaConta input{
    position: absolute;
    width: 150px;
    height: 20px;
}
div.novaConta span{
    position: absolute;
}

div.novaConta span#conta{
    margin-top: 0px;
    margin-left: 5px;
}

div.novaConta input.origem_conta{
    margin-top: 8px;
    margin-left: 5px;
    padding: 5px;
}

div.novaConta span#data_vencimento{
    margin-top: -18px;
    margin-right: 23px;
    margin-left: 200px;

}

div.novaConta input.data_vencimento{
    margin-top: -10px;
    padding: 5px;
    margin-left: 200px;
}

div.novaConta span#preco{
    margin-top: 40px;
    margin-left: 5px;
}

div.novaConta input.preco{
    margin-top: 48px;
    padding: 5px;
    margin-left: 5px;
}

div.novaConta span#parcelas{
    margin-left: 200px;
    margin-top: 22px;
    margin-right: -15px;
}

div.novaConta input.parcelas{
    margin-left: 200px;
    margin-top: 30px;
    padding: 5px;
    width: 80px;
}

div.novaConta span#fixo{
    margin-top: 38px;
    margin-left: 330px;
}

div.novaConta input.fixo{
    margin-top: 38px;
    margin-left: 240px;
}